/*
Colors used:
Black: #222222
Blue: #191a3d
Light: #434068
White: #ffffff
White for frames:#f2f2f2;
*/
body {
  background-color: #ffffff;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #222222;
}

h1, h2, h3, {
line-height: 1.4;
}

h1 {
  font-size: 1.75em;
  font-weight: 700;
  text-align: left;
}

h2 {
  font-size: 1.50em;
  font-weight: 700;
}

h3 {
  font-size: 1em;
  font-weight: 700;
}

img {
  width: 100%;
}

a {
  color: #434068;
  text-decoration: none;
}

a:visited {
  color: #434068;
}

a:hover,
a:focus {
  color: #7f0000;
  text-decoration: none;
}

a:active {
  color: #7f0000;
}

.button {
  display: inline-block;
  background-color: transparent;
  color: #191a3d;
  font-size: 0.8em;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px;
  border-radius: 1px;
  border: 1px solid #191a3d;
  transition-duration: 0.2s;
  transition-property: all;
}


.button:hover,
.button:focus {
  background-color: #191a3d;
  color: #ffffff;
}

.logo {
  max-width: 125px;
  text-align: center;
}

.container {
  padding: 0 24px;
}

.row {
  margin: 16px 0;
  padding-bottom: 24px;
}

.column {
  margin: 16px 0;
  padding-bottom: 24px;
}

header {
  position: fixed;
  width: 100%;
  background-color: #f2f2f2;
  text-align: center;
  padding-top: 16px;
}

main {
  padding-top: 133px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  display: block;
  width: 100%;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a,
nav>ul>li>a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: #434068;
}

nav>ul>li>a:hover,
nav>ul>li>a:focus {
  padding: 0 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: #7f0000;
}

nav>ul>li>a:active {
  padding: 0 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: #7f0000;
}

#hero {
  padding: 16px 0;
  display: inline-block;
  width: 100%;
}

a {
  color: #434068;
  text-decoration: underline;
}

#hero h1 {
  margin: 0;
  padding: 0;
}

#hero span {
  display: block;
  font-size: 70%;
  margin-top: 1em;
}

#contact {
  background-color: #f2f2f2;
  text-align: center;
  color: #222222;
  padding: 16px;
  margin-top: 16px;
}

.social-media a {
  display: inline-block;
  margin: 0 10px;
}

.email a {
  margin-bottom: 30px;
}

.no-space {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
@keyframes color-change {
  0% {fill: #edc655;}
   50% {fill: #fcffad;}
   100% {fill: #f76414;}
 }
 .sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}


.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
@keyframes circle-change {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
@keyframes circle-change {
  0% {fill: #66212c;}
   50% {fill: ##ea4660;}
   100% {fill: #ff5973;}
 }
 .circle {
  animation-duration: 6s;
  animation-name: circle-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.wave-dark {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}

.wave-light {
  top: 175px;
  animation: wave 10s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 10s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-right: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  100%, 100% {
    transform: translate3d(10px,0px,10px);
  }
  50% {
    transform: translate3d(25px,10px,0);
  }
}


@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    float: right;
  }


  nav {
    width: auto;
    float: right;
    padding: 8px;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #about h3 {
    margin-top: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .col-md-4 {
    width: 40%;
  }

  .col-md-7 {
    width: 60%;
  }

  .col-md-5 {
    width: 40%;
  }

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

}
