/*
Colors used:
Black: #222222
Blue: #191a3d
Light: #434068
White: #ffffff
White for frames:#f2f2f2;
*/
body {
  background-color: #ffffff;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight:400;
  line-height: 1.4;
}
h1, h2, h3, {
line-height: 1.4;
width: 600px;
}
h1 {
  font-size: 1.75em;
  font-weight: 700;
  width: 600px;
  text-align:left;
}
h2 {
  font-size: 1.50em;
  font-weight: 700;
}
h3 {
  font-size: 1em;
  font-weight: 700;
}
a {
  color: #434068;
  text-decoration: underline;
}
a:visited {
  color: #434068;
}
a:hover {
  color: #7f0000;
  text-decoration: underline;
}
a:focus {
  color: #7f0000;
  text-decoration: underline;
}
a:active {
  color: #7f0000;
}
.button {
  display: inline-block;
  background-color: transparent;
  color: #191a3d;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 3px;
  border: 2px solid #191a3d;
}
.button:hover {
  display: inline-block;
  background-color: #191a3d;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 3px;
  border: 2px solid #191a3d;
}
.button:focus {
  display: inline-block;
  background-color: #191a3d;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 3px;
  border: 2px solid #191a3d;
}
img { width: 100%;}
